%div#forum-thread
  %div#subject-wrapper 
    %h3.bold= @question.title
    = render @question.categories
  .row.row-custom
    .col-lg-10.col-lg-offset-1.white#forum-conversation
      %div#question-wrapper
        %div#question-only
          %div.vote-size.forum-vote
            %ul
              %li
                = link_to votes_question_path(@question, vote: true), method: 'post' do
                  %span.glyphicon.glyphicon.glyphicon-chevron-up
              %li 
                %span.vote-number= @question.total_votes
          %p
            = @question.description
          %p= link_to 'edit', edit_question_path(@question) if @question.author == current_user
          %div.avatar-wrapper
            - if @question.author.avatar?
              = cl_image_tag(@question.author.avatar.path, size: "20x20")
            - else
              = image_tag(@question.author.to_s, class: "testing")
            %div
              %ul
                %li= link_to "#{@question.author.first_name} #{@question.author.last_name}", user_path(@question.author)
                %li= link_to "#{@question.author.organization_name}", organization_path(@question.author.organization) if @question.author.organization
        %div.comment-wrapper
          - @question.comments.each do |comment|
            = render 'comments/comment', comment: comment
        %div.new-comment-wrapper
          %a{:title => "Use the comments section to ask for a clarification on the question", :class => "comment-link"} add comment
          %div.comment-form
            = form_for [@question, @comment] do |f|
              = f.text_area :content
              %br/
              = f.submit "Add a Comment", class: "btn btn-primary"
      %h4.bold= "#{@answers.count} Answers"
      %div#all-answers-wrapper
        - @answers.each do |answer|
          = render 'answers/answer', answer: answer
      %h3 Answer below:
      = form_for [@question, @answer] do |f|
        = f.text_area :description
        %br/
        = f.submit "Post Your Answer", class: "btn btn-primary"