%section.register.container
	.row
		.col-sm-10.col-sm-offset-1
			= form_for(@project) do |f|
				%header
					%h1 Create a Project
				%fieldset
					= f.date_select(:deadline, :order => [:month, :day, :year])
					= f.text_field :estimated_hours, label: "Estimated Hours", class: "form-control"
					= f.select :skills, options_for_select(["Grant Writing", "Web Development", "Graphic Design", "Business Planning", "Accounting"])
					= f.text_area :description, cols: 10, rows: 6, class: "form-control"
					= f.submit "Create"
