.row#profile-details-row
  .col-lg-3.col-sm-12
    %a.thumbnail.img-thumb{href: ""}
      - if @user.avatar?
        = cl_image_tag(@user.avatar.path, { size: '150x150' })
      - else
        = image_tag(@user.small_cover.to_s, size: "150x150")
  .col-lg-7.col-sm-12#user-info
    %h2 
      = "#{@user.first_name} #{@user.last_name}"
    - if @user.organization  
      - if current_user.id == @user.organization.user_id
        %p
          = link_to 'Remove Staff', remove_path(id: @user.id), :method => :delete, data: {confirm: 'Are you sure you want to remove this person from your organization?'}
    .row
      .col-lg-4.col-md-3#user-header-info
        %h5.header-spacing
          %strong 
            - if @user.organization
              = "#{@user.position} at"
              = link_to "#{@user.organization_name}", organization_path(@user.organization.id)
        %h5.header-spacing 
          %strong 
            = "#{@user.city}"
        %h5.header-spacing
          %strong 
            = "#{@user.skills}"
        %btn
          = link_to "Message", new_private_message_path(user_id: @user.id), class: 'btn btn-primary btn-lg btn-block' unless current_user
  .col-lg-2
    %p.pull-right
      = link_to "Edit Your Profile", edit_user_path(current_user) if @user.organization
    %p.pull-right
      = link_to "Edit Your Profile", edit_user_path(current_user) if @user.user_group == "volunteer"
    %p.pull-right
      = link_to "Update Your Profile and Find Your Organization", edit_user_path(current_user) if @user.user_group == "nonprofit" && !@user.organization
  .col-lg-2
    .progress
      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: #{@user.update_profile_progress}%;"}
        = "#{@user.update_profile_progress}%"

  .col-lg-12
    %ul.nav.nav-tabs#myTab
      %li.active
        %a{:href => "#activity", 'data-toggle' => "tab"} Activity
      %li
        %a{:href => "#about", 'data-toggle' => "tab"} About

.tab-content
  .tab-pane.active#activity
    .container-wrapper           
      .row.row-custom
        .col-lg-6
          %h2 Projects
        .col-lg-6
          - if @user.organization_administrator && current_user == @user
            = link_to "Create a Project", new_organization_admin_project_path(organization_id: @user.organization_id), class: "btn btn-primary btn-lg pull-right btn-project"

    .row
      %ul.nav.nav-tabs
        %li{:class => ('active' if params[:tab] == 'open')}
          = link_to "Open Applications #{@user.open_applications.count}", user_path(@user, tab: 'open'), remote: true

        %li{:class => ('active' if params[:tab] == 'in production')}
          = link_to "Work in Production #{@user.projects_in_production.count}", user_path(@user, tab: 'in production'), remote: true
    
        %li{:class => ('active' if params[:tab] == 'submitted work')}
          = link_to "Submitted Work #{@user.submitted_work.count}", user_path(@user, tab: 'pending approval'), remote: true
      
        %li{:class => ('active' if params[:tab] == 'completed')}        
          = link_to "Completed Work #{@user.completed_projects.count}", user_path(@user, tab: 'completed'), remote: true

      .col-lg-10
        %div{:id => "projectsDiv"}  
              
  .tab-pane#about
    .row.row-custom
      .col-lg-12
        %h2 About Me
    .row#user-data-wrapper 
      .col-lg-12
        .col-lg-8
          %dl
            %dt Bio
            %dd= @user.bio
          - if @user.organization
            %dl 
              %dt 
                What I do for 
                = "#{@user.organization_name}"
              %dd= @user.organization_role

          %dl 
            %dt Contact Me for: 
            %dd= @user.contact_reason

      
