.row#profile-details-row
  .col-lg-3.col-sm-12
    %a.thumbnail.img-org{href: ""}
      %img{alt: "", "data-src" => "holder.js/100%x180"}/
  .col-lg-8.col-sm-12#user-info
    %h2 
      = "#{@user.first_name} #{@user.last_name}"
    .row
      .col-lg-4.col-md-3#user-header-info
        %h5.org-head
          %strong 
            - if @user.organization
              = "#{@user.position} at"
              = link_to "#{@user.organization_name}", organization_path(@user.organization.id)
        %h5.org-head 
          %strong 
            = "#{@user.city}"
        %h5.org-head
          %strong 
            = "#{@user.skills}"
        %btn
          = link_to "Message", new_private_message_path(user_id: @user.id), class: 'btn btn-primary btn-lg btn-block' unless current_user
        %p.pull-right
          = link_to "Edit Your Profile", edit_user_path(current_user) if @user.organization
        %p.pull-right
          = link_to "Edit Your Profile", edit_user_path(current_user) if @user.user_group == "volunteer"
        %p.pull-right
          = link_to "Update Your Profile and Find Your Organization", edit_user_path(current_user) if @user.user_group == "nonprofit" && !@user.organization

        - if @user.organization  
          - if current_user.id == @user.organization.user_id
            %p.pull-right
              = link_to 'Remove Staff', remove_path(id: @user.id), :method => :delete, :confirm=>'Are you sure you want to remove this person from your organization?'
  .col-lg-12
    %ul.nav.nav-tabs#myTab
      %li.active
        %a{:href => "#activity", 'data-toggle' => "tab"} Activity
      %li
        %a{:href => "#about", 'data-toggle' => "tab"} About

.tab-content
  .tab-pane.active#activity
    .container-wrapper           
      .row.row-custom
        .col-lg-6
          %h2 Projects
        .col-lg-6
          - if @user.organization_administrator && current_user == @user
            = link_to "Create a Project", new_organization_admin_project_path(organization_id: @user.organization.id), class: "btn btn-primary btn-lg pull-right btn-project"

    .row
      %ul.nav.nav-tabs
        %li{:class => ('active' if params[:tab].nil?)}
          = link_to "Open #{@user.open_projects.count}", user_path(@user)
        
        %li{:class => ('active' if params[:tab] == 'in production')}
          = link_to "In Production #{@user.in_production_projects.count}", user_path(@user, tab: 'in production') 
      
        %li{:class => ('active' if params[:tab] == 'pending completion')}
          = link_to "Completion Request #{@user.pending_completion_projects.count}", user_path(@user, tab: 'pending approval')
      
        %li{:class => ('active' if params[:tab] == 'completed')}
          = link_to "Completed #{@user.completed_projects.count}", user_path(@user, tab: 'completed')
      
        %li{:class => ('active' if params[:tab] == 'unfinished')}
          = link_to "Unfinished #{@user.unfinished_projects.count}", user_path(@user, tab: 'unfinished')

      - if params[:tab].nil?
        - @user.open_projects.each do |project|
          = render 'shared/project_thumbnail', project: project
      - elsif params[:tab] == 'in production'
        - @user.in_production_projects.each do |project|
          = render 'shared/project_thumbnail', project: project
      - elsif params[:tab] == 'pending approval'
        - @user.pending_completion_projects.each do |project|
          = render 'shared/project_thumbnail', project: project
      - elsif params[:tab] == 'completed'
        - @user.completed_projects.each do |project|
          = render 'shared/project_thumbnail', project: project
      - elsif params[:tab] == 'unfinished'
        - @user.unfinished_projects.each do |project|  
          = render 'shared/project_thumbnail', project: project
      
    .row.row-custom
      .col-lg-12
        %h2 Bob Smith's Updates
    .row
      .col-lg-12
        .row.row-custom.row-wrapper
          %div.newsfeed-wrapper
            .col-lg-2.col-lg-offset-1
              %img.img-staff-newsfeed{:src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t1.0-1/c204.44.552.552/s160x160/303330_10100328964694072_324662327_n.jpg"}
            .col-lg-6
              %div.newsfeed-content-wrapper
                %p There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.
            .col-lg-3
          .row.row-custom.row-wrapper
          %div.newsfeed-wrapper
            .col-lg-2.col-lg-offset-1
              %div.newsfeed-vote-wrapper
                %dl.vote-wrapper
                  %dt.profile-newsfeed-number 3
                  %dd Votes
                %dl.comment-wrapper
                  %dt.profile-newsfeed-number 10 
                  %dd Comments
            .col-lg-6
              %div.newsfeed-content-wrapper
                %p There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.
            .col-lg-3

  .tab-pane#about

    .row.row-custom
      .col-lg-12
        %h2 About Me

    .row#org-data-wrapper 
      .col-lg-12
        .col-lg-8
          %dl
            %dt Bio
            %dd= @user.bio
          - if @user.organization
            %dl 
              %dt 
                What I do for 
                = "#{@user.organization_name}"
              %dd @user.organization_role

          %dl 
            %dt Contact Me for: 
            %dd= @user.contact_reason

      
