.row#profile-details-row
  .col-lg-3.col-sm-12
    %a.thumbnail.img-thumb{href: ""}
      - if @user.avatar?
        = cl_image_tag(@user.avatar.path, { size: '150x150' })
      - else
        = image_tag(@user.small_cover.to_s, size: "150x150")
  .col-lg-7.col-sm-12#user-info
    %h2 
      = "#{@user.first_name} #{@user.last_name}"
    - if @user.organization  
      - if current_user.id == @user.organization.user_id
        %p
          = link_to 'Remove Staff', remove_path(id: @user.id), :method => :delete, data: {confirm: 'Are you sure you want to remove this person from your organization?'}
    .row
      .col-lg-4.col-md-3#user-header-info
        %h5.header-spacing
          %strong 
            - if @user.organization
              = "#{@user.position} at"
              = link_to "#{@user.organization_name}", organization_path(@user.organization.id)
        %h5.header-spacing 
          %strong 
            = "#{@user.city}"
        %h5.header-spacing
          %strong 
            = "#{@user.skills}"
        %btn.pull-right
          = link_to "Message", new_message_path(user_id: @user.id), class: 'btn btn-primary btn-lg btn-block' unless current_user == @user
  .col-lg-2
    %p.pull-right
      = link_to "Edit Your Profile", edit_user_path(current_user) if @user.organization
    %p.pull-right
      = link_to "Edit Your Profile", edit_user_path(current_user) if @user.user_group == "volunteer"
    %p.pull-right
      = link_to "Update Your Profile and Find Your Organization", edit_user_path(current_user) if @user.user_group == "nonprofit" && !@user.organization
  .col-lg-2
    .progress
      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: #{@user.update_profile_progress}%;"}
        = "#{@user.update_profile_progress}%"
  .col-lg-2
    %btn.pull-right
      = link_to "Follow", relationships_path(leader_id: @user.id), class: 'btn btn-primary', method: :post if current_user.can_follow?(@user)
      = link_to "Unfollow", relationship_path(@following_relationship.id), method: :delete, class: 'btn btn-primary' if current_user.follows?(@user)

  .col-lg-12
    %ul.nav.nav-tabs#myTab
      %li.active
        %a{:href => "#activity", 'data-toggle' => "tab"} Activity
      %li
        %a{:href => "#about", 'data-toggle' => "tab"} About
      %li
        %a{:href => "#badges", 'data-toggle' => "tab"} My Badges
      %li
        %a{:href => "#contacts", 'data-toggle' => "tab"} My Network

.tab-content
  .tab-pane.active#activity
    .container-wrapper           
      .row.row-custom
        .col-lg-6
          %h2 Projects
        .col-lg-6
          - if @user.organization_administrator && current_user == @user
            = link_to "Create a Project", new_organization_admin_project_path(organization_id: @user.organization_id), class: "btn btn-primary btn-lg pull-right btn-project"

    .row.row-custom
      %ul.nav.nav-tabs.white
        %li{:class => ('active' if params[:tab] == 'open')}
          = link_to "Open Applications #{@user.open_applications.count}", user_path(@user, tab: 'open'), remote: true

        %li{:class => ('active' if params[:tab] == 'in production')}
          = link_to "Work in Production #{@user.projects_in_production.count}", user_path(@user, tab: 'in production'), remote: true
    
        %li{:class => ('active' if params[:tab] == 'submitted work')}
          = link_to "Submitted Work #{@user.submitted_work.count}", user_path(@user, tab: 'pending approval'), remote: true
      
        %li{:class => ('active' if params[:tab] == 'completed')}        
          = link_to "Completed Work #{@user.completed_projects.count}", user_path(@user, tab: 'completed'), remote: true

      .col-lg-10
        %div{:id => "projectsDiv"}  
              
  .tab-pane#about
    .row.row-custom
      .col-lg-12
        %h2 About Me
    .row#user-data-wrapper 
      .col-lg-12
        .col-lg-8
          %dl
            %dt Bio
            %dd= @user.bio
          - if @user.organization
            %dl 
              %dt 
                What I do for 
                = "#{@user.organization_name}"
              %dd= @user.organization_role

          %dl 
            %dt Contact Me for: 
            %dd= @user.contact_reason
  .tab-pane#badges
    .row.row-custom
      .col-lg-12
        - if @user.badges.count >= 1
          - @user.badges.each do |badge|
            = render "badges/badges_thumbnail", badge: badge
        - else
          %p.no-content= "#{@user.first_name} has earned no badges"
  
  .tab-pane#contacts
    .row.row-custom
      .col-lg-8.white#user-network
        %h4.bold Following
        - if @relationships.count >= 1
          - @relationships.each do |relationship|  
            %div.user-follower
              %div.user-follower-info
                %div.pic
                  - if relationship.leader.avatar?
                    = cl_image_tag(relationship.leader.avatar.path, { size: '50x50' })
                  - else
                    = image_tag(relationship.leader.small_cover.to_s, size: "50x50")
                %div.network-user-content  
                  %div.name
                  = link_to "#{relationship.leader.first_name} #{relationship.leader.last_name}", user_path(relationship.leader.id)
                  %div.work-status
                    %p 
                      = "#{relationship.leader.position} at"
                      %span 
                        = link_to "#{relationship.leader_organization_name}", user_path(relationship.leader.id) if relationship.leader_organization_name
                  %div.follower-location
                    %p 
                      = "#{relationship.leader.city}" 
                  %div.follower-engaged
                    %table
                      %tr
                        %td.follower-reason 
                          = "Engaged #{relationship.leader.first_name} on a placeholder" 
                        %td.follower-reason-date= "#{fix_date_time(relationship.created_at)}"
              %div.follower-button   
                = link_to "Unfollow", relationship_path(relationship.id), method: :delete, class: 'btn btn-primary'
        - else
          %p.no-content You haven't made any connections yet.

        
