.container
  .container-wrapper
    .row
      .col-lg-2.col-sm-12
        %a.thumbnail.img-org{href: ""}
          %img{alt: "", "data-src" => "holder.js/100%x180"}/
      .col-lg-10.col-sm-12
        %h1 
          = "#{@user.first_name} #{@user.last_name}"
        .row
          .col-lg-4.col-md-3
            %h4.org-head
              %strong 
                = @user.position
            %h4.org-head
              %strong 
                = "Skills: #{@user.skills}" 
            %h4.org-head 
              %strong 
                = "Interests: #{@user.interests}"
          
.container
  .row.row-custom
    .col-lg-6
      %h2 Projects
    .col-lg-6
      %button.btn.btn-primary.btn-lg.pull-right.btn-project{:type => "button"} 
        = link_to "Create a Project", new_organization_admin_project_path(organization_id: @user.organization.id) if @user.organization_administrator

.container
  .container-wrapper
    .row
      .container
        %ul.nav.nav-tabs
          %li
            %a{:href => "#"} Completed
          %li
            %a{:href => "#"} Expired
          %li
            %a{:href => "#"} Incomplete
        - @user.projects.each do |project|
          = render 'shared/project_thumbnail', project: project     

.container
  .row.row-custom
    .col-lg-12
      %h2 Bob Smith's Updates
    
.container
  .row
    .col-lg-12
      .row.row-custom.row-wrapper
        %div.newsfeed-wrapper
          .col-lg-2.col-lg-offset-1
            %img.img-staff-newsfeed{:src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t1.0-1/c204.44.552.552/s160x160/303330_10100328964694072_324662327_n.jpg"}
          .col-lg-6
            %div.newsfeed-content-wrapper
              %p There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.
          .col-lg-3
        .row.row-custom.row-wrapper
        %div.newsfeed-wrapper
          .col-lg-2.col-lg-offset-1
            %div.newsfeed-vote-wrapper
              %dl.vote-wrapper
                %dt.profile-newsfeed-number 3
                %dd Votes
              %dl.comment-wrapper
                %dt.profile-newsfeed-number 10 
                %dd Comments
          .col-lg-6
            %div.newsfeed-content-wrapper
              %p There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.
          .col-lg-3
        