
.row.edit-profile-wrapper
  .col-lg-12
    = form_for(@organization, url: organization_admin_organization_path(@organization.id)) do |f|
      %header
        %h1 Edit Your Organization
      .col-lg-5
        %fieldset
          .form-group
            %div.edit-fieldset-wrapper
              %h3 Organization Info
              %div.edit-input-wrapper
                = f.label :name
                = f.text_field :name
              %div.edit-input-wrapper
                = f.label :ein, "EIN"
                = f.text_field :ein
              %div.edit-input-wrapper
                = f.label :cause
                = f.text_field :cause
              %div.edit-input-wrapper
                = f.label :mission_statement
                = f.text_area :mission_statement, cols: 4, rows: 4, class: "form-control"
              %div.edit-input-wrapper
                = f.label :goal
                = f.text_area :goal, cols: 4, rows: 4, class: "form-control"
            %div.edit-fieldset-wrapper
              %h3 Contact Info
              %div.edit-input-wrapper
                = f.label :street
                = f.text_field :street1
              %div.edit-input-wrapper
                = f.label :street_2
                = f.text_field :street2
              %div.edit-input-wrapper
                = f.label :city
                = f.text_field :city
              %div.edit-input-wrapper
                = f.label :us_state
                = f.select :state_abbreviation, options_for_select(us_states), include_blank: true
              %div.edit-input-wrapper
                = f.label :zip
                = f.text_field :zip
              %div.edit-input-wrapper
                = f.label :contact_number
                = f.text_field :contact_number
              %div.edit-input-wrapper
                = f.label :contact_email
                = f.text_field :contact_email
      .col-lg-12  
        .form-group        
          .field
            = f.submit "Update", :confirm=>'Is all the information accurate and its spelling correct?', class: "btn btn-success", id: "edit-submit"
