.row.msg-thumbnail
  .col-lg-2
    %img#conversation-header-img{:src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t1.0-1/c204.44.552.552/s160x160/303330_10100328964694072_324662327_n.jpg"}
  .col-lg-10.msg-content-wrapper
    %h2
      %strong 
        - if conversation.sender_user_name_of_recent_message
          = link_to conversation.sender_user_name_of_recent_message, user_path(conversation.the_id_of_sender)
    %h4.org-head
      %strong
        = link_to conversation.private_messages.first.subject, conversation_path(conversation.id)
    %p 
      = conversation.private_message_body
    - if conversation.volunteer_application_id
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          Volunteer Application
          %span.caret
        %ul.dropdown-menu{role: "menu"}
          %li
            = link_to "Reply (before accepting)", conversation_path(conversation.id)
          %li
            %a{href: "#"} Ignore Request
          %li.divider
          %li
            = link_to "Accept", contracts_path(volunteer_application_id: conversation.volunteer_application_id, conversation_id: conversation.id), method: :post
    - elsif conversation.project_complete_request
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          Contract Complete
          %span.caret
        %ul.dropdown-menu{role: "menu"}
          %li
            = link_to "Reply (before confirming completion)", conversation_path(conversation.id)
          %li
            %a{href: "#"} Incompleted
          %li.divider
          %li
            = link_to "Completed", confirm_complete_path(conversation_id: conversation.id)
    - elsif conversation.contract_id
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          Drop Contract
          %span.caret
        %ul.dropdown-menu{role: "menu"}
          %li
            = link_to "Reply (before deciding)", conversation_path(conversation.id)
          %li.divider
          %li
          - if current_user.organization_administrator
            = link_to "Drop Volunteer", dropping_contract_path(id: conversation.contract_id), method: :patch
          - else
            = link_to "Drop Project", dropping_contract_path(conversation_id: conversation.id), method: :patch
