%link{:href => "/Users/robertjewell/sites/grassroots/app/assets/stylesheets", :rel => "stylesheet"}  
  %nav.navbar.navbar-default{:role => "navigation"}
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / <a class="navbar-brand" href="#">Brand</a>
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to "Communtiy", "#" if current_user
        %li
          = link_to "Services", "#" if current_user
        %li
          = link_to "Projects", projects_path if current_user
        %li
          = link_to "Messages", conversations_path if current_user
        - if current_user
          %li.dropdown
            %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
              = "Welcome, #{current_user.first_name}"
              %b.caret
            %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
              %li
                %a(href="#") Account
                %a(href="#") Plan and Billing
                = link_to "Profile", user_path(current_user.id)
                = link_to "Organization", organization_path(current_user.id) if current_user.organization
                = link_to "Log out", log_out_path
        %li
          = link_to "Register", new_user_path unless current_user
        %li
          = link_to "Sign in", sign_in_path unless current_user
    / /.navbar-collapse
  %body