.col-lg-3.col-sm-6.project-thumb-wrapper
  .thumbnail.thumbnail-project
    = link_to image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJdY7uIWUze-daCnYOvAq3oXVWI1pnUZXs2Y4UK3SmyjJx_fMQvVNcmdgk", :class => "thumb-img-org") , project_path(project.id)
    .caption
    - if project.applicants
      %div.volunteer-project-requests
        %span.glyphicon.glyphicon-user.volunteer-glyph
        %div.volunteer-plus
          %span.glyphicon.glyphicon-plus.volunteer-plus-glyph 
            %span.volunteer-number
              = "#{project.applicants.count}"
    %h4.project-org-name
      = link_to project.organization.name, organization_path(project.organization.id)
    %h5 
      = project_title(project)
    %p 
      - if project.description > project.description.first(60)
        = "#{project.description.first(60)}..."
      - else 
        = project.description
    %dl.skillset
      %dt Skill Set
      %dd 
        = project.skills
    %dl.deadline
      %dt Deadline
      %dd 
        = fix_date_time(project.deadline)
    - if project.project_admin == current_user
      %btn= link_to "View Project", project_path(project.id), class: 'btn btn-primary btn-lg btn-block btn-project'
    - elsif project.organization == current_user.organization
      %btn= link_to "View Project", project_path(project.id), class: 'btn btn-primary btn-lg btn-block btn-project'
    - if project.project_admin != current_user
      - if project.organization != current_user.organization
        - if project.state == "open"
          %btn= link_to "Join Project", new_volunteer_application_path(project_id: project.id), class: 'btn btn-success btn-lg btn-block btn-project'
        - elsif project.in_production?
          %btn= link_to "Project Complete", new_work_submission_path(contract_id: project.in_production_contract_id), class: 'btn btn-warning btn-lg btn-block btn-project'
        - elsif project.has_submitted_work?
          %btn= link_to "Pending Completion", new_private_message_path(user_id: project.id), class: 'btn btn-info btn-lg btn-block btn-project'
        - elsif project.is_complete?
          %btn= link_to "Finished", "#", class: 'btn btn-default btn-lg btn-block btn-project'
        - else
          %btn= "Completed"