.col-lg-3.col-sm-6.project-thumb-wrapper
  .thumbnail.thumbnail-project
    = link_to image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJdY7uIWUze-daCnYOvAq3oXVWI1pnUZXs2Y4UK3SmyjJx_fMQvVNcmdgk", :class => "thumb-img-org") , project_path(project.id)
    .caption
    %div.volunteer-project-requests
      %span.glyphicon.glyphicon-user.volunteer-glyph
      %div.volunteer-plus
        %span.glyphicon.glyphicon-plus.volunteer-plus-glyph 
          %span.volunteer-number
            = "#{project.users.count - 1}" 
    %h4.project-org-name
      = link_to project.organization.name, organization_path(project.organization.id)
    %h5 
      = project.title
    %p 
      = project.description
    %dl.skillset
      %dt Skill Set
      %dd 
        = project.skills
    %dl.deadline
      %dt Deadline
      %dd 
        = fix_date_time(project.deadline)
    %btn
      = link_to "Join Project", new_private_message_path(project_id: project.id), class: 'btn btn-primary btn-lg btn-block btn-project'