%div.answer-wrapper
  %div.only-answer-wrapper 
    %div.forum-vote
      %ul
        %li
          %span.glyphicon.glyphicon.glyphicon-chevron-up
        %li 
          %span.vote-number 0
    %p
      = "#{answer.description}"
    -#  
      %small 
        created at
        = "#{fix_date_time(answer.created_at)}"
    %div.avatar-wrapper
      %img{:src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t1.0-1/c204.44.552.552/s160x160/303330_10100328964694072_324662327_n.jpg"} 
      %div
        %ul
          %li
            = link_to "#{answer.author.first_name} #{answer.author.last_name}", user_path(answer.author)
          %li Grassroots.org
  %div.comment-wrapper
    - answer.comments.each do |comment|
      = render 'comments/comment', comment: comment
  %div.new-comment-wrapper  
    %a{:title => "Use the comments to ask for a clarification on the answer", :class => "comment-link"} add comment
    %div.comment-form
      = form_for @comment, url: answers_question_answer_path(id: answer.id, question_id: @question.id) do |f|
        = f.text_area :content
        %br/
        = f.submit "Comment on the answer", class: "btn btn-primary"