.row.row-custom
  .span8
    %h4
      = link_to "#{item.author.first_name} #{item.author.last_name}", user_path(item.author)
      - if item.newsfeedable_type == "Project"
        = link_to "creates a #{item.newsfeedable_type}", project_path(item.newsfeedable_id)
        = "at #{fix_date_time(item.created_at)}"
      - elsif item.newsfeedable_type == "Question"
        = link_to "creates a #{item.newsfeedable_type}", question_path(item.newsfeedable_id)
        = "at #{fix_date_time(item.created_at)}"
      - elsif item.newsfeedable_type == "Answer"
        = link_to "creates a #{item.newsfeedable_type}", question_path(item.answers_question_id)
        = "at #{fix_date_time(item.created_at)}"
      - else
        = "creates a #{item.newsfeedable_type}"
        = "#{item.prints_status_update}"
        = "at #{fix_date_time(item.created_at)}"
