%div.individual-newsfeed-story
  %div.individual-newsfeed-header
    %span Join
    %span= link_to "#{item.author.first_name} #{item.author.last_name}'s", user_path(item.author), class: 'no-links'
    %span= link_to "#{item.newsfeedable_type} #{item.newsfeedable_type}", project_path(item.newsfeedable_id), class: 'bold'
    %span.small-text
      - if item.created_at < 1.day.ago
        = "#{fix_date_time(item.created_at)}"
      - else
        = "#{time_ago_in_words(item.created_at)}"
  %table.newsfeed-nested-table
    %tr
      %td.newsfeed-icon
        %div.pic
          %img.lg-image
            - if item.newsfeedable.organization.logo?
              = link_to cl_image_tag(item.newsfeedable.organization.logo.path, { size: '150x150', crop: :fit }), project_path(item.newsfeedable_id)
            - else
              = link_to image_tag(item.newsfeedable.organization.small_cover.to_s, size: "150x150"), project_path(item.newsfeedable_id)
      %td.content-cell 
        %ul
          %li.title= link_to item.newsfeedable.title, project_path(item.newsfeedable_id)
          %li.description= item.newsfeedable.description
