= "Help #{item.author.first_name} #{item.author.last_name} on this "
= link_to "#{item.newsfeedable_type} on #{item.question_categories}", question_path(item.newsfeedable_id), class: 'no-links'
%span.small-text= "at #{fix_date_time(item.created_at)}"
%tr
  %td.left-cell.newsfeed-voting
  %td.content-cell 
    %ul
      %li.title= link_to item.newsfeedable.title, question_path(item.newsfeedable_id)
      %li.description= item.newsfeedable.description