%ul.status-update-story
  %li.status-lead= "#{item.newsfeedable.content}"
  %li
    %span.small-text
      = "#{item.author.first_name} #{item.author.last_name} creates a status update at" 
      = "#{fix_date_time(item.created_at)}" if item.created_at > 1.day.ago
      = "#{time_ago_in_words(item.created_at)}" if item.created_at < 1.day.ago
