= "#{item.newsfeedable.content}"
%span.small-text= "#{item.author.first_name} #{item.author.last_name} creates a status update at #{fix_date_time(item.created_at)}"
%tr
  %td.left-cell.newsfeed-voting

  %td.content-cell 
