#project-details
  .container-wrapper
    .row.row-custom
      .col-lg-6.col-lg-offset-1.project-board
        %h2 
          = @project.title
        %p 
          = @project.description
        .form-group
          %btn
          - if @project.administrator == current_user
            = link_to "Edit Project", edit_organization_admin_project_path(@project.id), class: "btn btn-primary btn-lg btn-project"
          - elsif @project.state == "open"
            = link_to "Request to Join", new_volunteer_application_path(project_id: @project.id), class: "btn btn-primary btn-lg btn-project" 
          - elsif @project.state == "in production"
            = link_to "Project Complete", new_message_path(project_id: @project.id), class: "btn btn-primary btn-lg btn-project"  
      .col-lg-4
        - if @project.project_admin || @project.volunteers.first == current_user 
          - if @project.state == "open"
            %div.project-notice.open
              %p.bold.text-alert= "Project is #{@project.state}"
          - elsif @project.state == "in production"
            %div.project-notice.open
              %p.bold.text-alert= "Project is #{@project.state}"
          - elsif @project.has_submitted_work?
            %div.project-notice.open
              %p.bold.text-alert= "Project has received work"
          - elsif @project.is_complete?
            %div.project-notice.open
              %p.bold.text-alert= "Project is completed"
          - elsif @project.is_unfinished?
            %div.project-notice.open
              %p.bold.text-alert= "Project is unfinished"
          - else
            %div.project-notice.open
              %p.bold.text-alert= "Project is expired"
        - else
          - if @project.state == "open"
            %div.project-notice.open
              %p.bold.text-alert= "Project is #{@project.state}"
          - else
            %div.project-notice.closed
              %p.bold.text-alert= "Project is closed"
        %p.bold.gr-green-font Deadline
        %div.notice 
          %span= fix_date_time(@project.deadline)
        %p.bold.gr-green-font Cause
        %div.notice 
          %span= @project.causes
        %p.bold.gr-green-font Skills
        %div.notice
          %span= @project.skills.map(&:name).join(', ')
        %p.bold.gr-green-font Estimated Hours
        %div.notice
          %span= @project.estimated_hours
        %p.bold.gr-green-font Organization
        %div.notice-wrapper
          %button.notice
            = link_to @project.organization.name, organization_path(@project.organization.id)
          - if @project.organization.logo?
            = link_to cl_image_tag(@project.organization.logo.path, { size: '35x35', crop: :fit }), project_path(@project.id)
          - else
            = link_to image_tag(@project.organization.small_cover.to_s, size: "35x35"), project_path(@project.id)
        %p.bold.gr-green-font Project Admin
        %div
          %button.notice= link_to "#{@project.project_admin.first_name} #{@project.project_admin.last_name}", user_path(@project.project_admin.id)
          - if @project.project_admin.avatar?
            = cl_image_tag(@project.project_admin.avatar.path, size: "33x33")
          - else
            = image_tag(@project.project_admin.small_cover.to_s, class: "testing")
        %p.bold.gr-green-font= @project.state == "open" ? "Volunteer Requests" : "Project Volunteer"
        - if @project.applicants == []
          %em No volunteer have applied yet. 
        - else
          - @project.applicants.each do |applicant|
            - if applicant.organization != @project.organization
              %div
                %button.notice
                  = link_to "#{applicant.first_name} #{applicant.last_name}", user_path(applicant.id)
                - if applicant.avatar?
                  = cl_image_tag(applicant.avatar.path, size: "33x33")
                - else
                  = image_tag(applicant.small_cover.to_s, class: "testing")
                        
        
