#project-details-info
  .container-wrapper
    .row
      .col-lg-12
        .row
          .col-lg-6
            %h4
              = "Status: #{@project.state}"
            %h1 
              = @project.title
            %h4.org-head
              %strong 
                = @project.skills
          .col-lg-6#project-details-top-right
            %h4.org-head 
              %strong 
                = @project.deadline
            %h4.org-head 
              %strong 
                = "Estimated Hours:  #{@project.estimated_hours}"
    .row
      .col-lg-4.col-lg-offset-8
        .form-group
          %btn
          - if @project.administrator == current_user
            = link_to "Edit Project", edit_organization_admin_project_path(@project.id), class: "btn btn-primary btn-lg btn-project"
          - elsif @project.state == "open"
            = link_to "Request to Join", new_private_message_path(project_id: @project.id), class: "btn btn-primary btn-lg btn-project" 
          - elsif @project.state == "in production"
            = link_to "Project Complete", new_private_message_path(project_id: @project.id), class: "btn btn-primary btn-lg btn-project"

.row.row-custom
  .col-lg-6
    %h2 Project Description 
#project-desc-wrapper
  .container-wrapper
    .row#project-desc-row
      .col-lg-12
        %p 
          = @project.description
#project-details-org
  .container-wrapper 
    .row 
      .col-lg-2
        %h2
          = link_to @project.organization.name, organization_path(@project.organization.id)
        %a.thumbnail.img-org#img-org-project.pull-left{href: ""}
          %img{alt: "", "data-src" => "holder.js/100%x180"}/
        %h4#project-details-cause
          %strong 
            = "Cause: #{@project.causes}"
        %h5#project-details-cause
          %strong 
            Project Administrator:
            = link_to "#{@project.project_admin.first_name} #{@project.project_admin.last_name}", user_path(@project.project_admin.id)
        %a.thumbnail.img-staff.pull-left{href: ""}
          %img{alt: "", "data-src" => "holder.js/100%x180"}/
      .col-lg-8
        %h1
          = @project.state == "open " ? "Volunteer Requests" : "Project Volunteer"
        - @project.users.each do |user|
          - if user.organization != @project.organization
            .col-lg-3.col-sm-4
              .thumbnail.thumbnail-staff
                %img.img-responsive.img-staff{:src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t1.0-1/c204.44.552.552/s160x160/303330_10100328964694072_324662327_n.jpg"}
                .caption
                  %h4
                    = link_to "#{user.first_name} #{user.last_name}", user_path(user.id)
                    - if @project.project_admin == current_user
                      - if @project.state == "open"
                        .btn-group
                          %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                            Accept
                            %span.caret
                          %ul.dropdown-menu{role: "menu"}
                            %li
                              = link_to "Reply (before accepting)", conversations_path
                            %li
                              %a{href: "#"} Ignore Request
                            %li.divider
                            %li
                              %a{href: "#"} Accept
