#project-details
  .container-wrapper
    .row.row-custom
      .col-lg-6.col-lg-offset-1.project-board
        %h2 
          = @project.title
        %p 
          = @project.description
        .form-group
          %btn
          - if @project.administrator == current_user
            = link_to "Edit Project", edit_organization_admin_project_path(@project.id), class: "btn btn-primary btn-lg btn-project"
          - elsif @project.state == "open"
            = link_to "Request to Join", new_volunteer_application_path(project_id: @project.id), class: "btn btn-primary btn-lg btn-project" 
          - elsif @project.state == "in production"
            = link_to "Project Complete", new_private_message_path(project_id: @project.id), class: "btn btn-primary btn-lg btn-project"  
      .col-lg-4
        - if @project.project_admin || @project.volunteers.first == current_user 
          - if @project.state == "open"
            %div.project-notice.open
              %p.bold.text-alert= "Project is #{@project.state}"
          - elsif @project.state == "in production"
            %div.project-notice.open
              %p.bold.text-alert= "Project is #{@project.state}"
          - elsif @project.has_submitted_work?
            %div.project-notice.open
              %p.bold.text-alert= "Project has received work"
          - elsif @project.is_complete?
            %div.project-notice.open
              %p.bold.text-alert= "Project is completed"
          - elsif @project.is_unfinished?
            %div.project-notice.open
              %p.bold.text-alert= "Project is unfinished"
          - else
            %div.project-notice.open
              %p.bold.text-alert= "Project is expired"
        - else
          - if @project.state == "open"
            %div.project-notice.open
              %p.bold.text-alert= "Project is #{@project.state}"
          - else
            %div.project-notice.closed
              %p.bold.text-alert= "Project is closed"
        %p.bold.gr-green-font Deadline
        %div.notice 
          %span= fix_date_time(@project.deadline)
        %p.bold.gr-green-font Cause
        %div.notice 
          %span= @project.causes
        %p.bold.gr-green-font Skills
        %div.notice
          %span= @project.skills
        %p.bold.gr-green-font Estimated Hours
        %div.notice
          %span= @project.estimated_hours
        %p.bold.gr-green-font Organization
        %div.notice-wrapper
          %button.notice
            = link_to @project.organization.name, organization_path(@project.organization.id)
          %img.testing{:src => "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJdY7uIWUze-daCnYOvAq3oXVWI1pnUZXs2Y4UK3SmyjJx_fMQvVNcmdgk"}/
        %p.bold.gr-green-font Project Admin
        %div
          %button.notice= link_to "#{@project.project_admin.first_name} #{@project.project_admin.last_name}", user_path(@project.project_admin.id)
          %img.testing{:src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t1.0-1/c204.44.552.552/s160x160/303330_10100328964694072_324662327_n.jpg"}
        %p.bold.gr-green-font= @project.state == "open" ? "Volunteer Requests" : "Project Volunteer"
        - if @project.applicants == []
          Nothing to report
        - else
          - @project.applicants.each do |applicant|
            - if applicant.organization != @project.organization
              %div
                %button.notice
                  = link_to "#{applicant.first_name} #{applicant.last_name}", user_path(applicant.id)
                - if applicant.avatar?
                  = cl_image_tag(applicant.avatar.path, size: "33x33")
                - else
                  = image_tag(applicant.small_cover.to_s, class: "testing")
                        
        
