%section.register.container
	.row
		.col-sm-6.col-sm-offset-1
			= form_for [:organization_admin, @project], html: {class: 'form-horizontal'} do |f|
				%header
					%h1 Create a Project
				%fieldset
					.form-group
						%label.control-label.col-sm-3 Deadline
						.col-sm-3
						= f.date_select(:deadline, :order => [:month, :day, :year])
					.form-group
						%label.control-label.col-sm-3 Estimated Hours
						= f.text_field :estimated_hours, class: "form-control"
					.form-group
						%label.control-label.col-sm-3 Type of Work
						= f.select :skills, options_for_select(skill_set.sort)
					.form-group
						%label.control-label.col-sm-3 Project Title
						= f.text_field :title, class: "form-control"
					.form-group
						%label.control-label.col-sm-3 Description
						= f.text_area :description, cols: 6, rows: 6, class: "form-control"
						= f.hidden_field :organization_id
						= f.submit "Create", class: "btn btn-lg btn-primary"
