.row#profile-details-row
  .col-lg-3
    %a.thumbnail.img-org{href: ""}
      %img{alt: "", "data-src" => "holder.js/100%x180"}/
  .col-lg-8#org-info
    %h2 
      = @organization.name
    .row
      .col-lg-4#org-header-info
        %h5.org-head 
          %strong 
            = "#{@organization.city}"
        %h5.org-head 
          %strong 
            = "#{@organization.cause}"
      %p.pull-right
        = link_to "Edit Organization Profile", edit_organization_admin_organization_path(@organization) if current_user.organization_administrator && current_user.organization_id == @organization.id
  .col-lg-12
    %ul.nav.nav-tabs#myTab
      %li.active
        %a{:href => "#activity", 'data-toggle' => "tab"} Activity
      %li
        %a{:href => "#overview", 'data-toggle' => "tab"} Overview
      
.tab-content
  .tab-pane.active#activity
    .container-wrapper 
      .row.row-custom
        .col-lg-6
          %h2 Projects
        .col-lg-6
          %btn
            = link_to "Create a Project", new_organization_admin_project_path(organization_id: @organization.id), class: "btn btn-primary btn-lg pull-right btn-project" if current_user.organization_administrator

    .row
      %ul.nav.nav-tabs
        %li{:class => ('active' if params[:tab] == 'open')}
          = link_to "Available Projects #{@organization.open_projects.count}", organization_path(@organization, tab: 'open'), remote: true
        
        %li{:class => ('active' if params[:tab] == 'in production')}
          = link_to "Projects in Production #{@organization.in_production_projects.count}",  organization_path(@organization, tab: 'in production'), remote: true
      
        %li{:class => ('active' if params[:tab] == 'pending approval')}
          = link_to "Completion Request #{@organization.projects_with_work_submitted.count}", organization_path(@organization, tab: 'pending approval'), remote: true
      
        %li{:class => ('active' if params[:tab] == 'completed')}
          = link_to "Completed Projects #{@organization.completed_projects.count}", organization_path(@organization, tab: 'completed'), remote: true
      
        %li{:class => ('active' if params[:tab] == 'unfinished')}
          = link_to "Unfinished #{@organization.unfinished_projects.count}", organization_path(@organization, tab: 'unfinished'), remote: true

        %li{:class => ('active' if params[:tab] == 'expired')}
          = link_to "Expired #{@organization.expired_projects.count}", organization_path(@organization, tab: 'expired'), remote: true

      .col-lg-10
        %div{:id => "projectsDiv"}

  .tab-pane#overview
    .row.row-custom
      .col-lg-12
        %h2 Organization Information

    .row#org-data-wrapper 
      .col-lg-12
        .col-lg-8
          %dl 
            %dt Mission
            %dd
              = @organization.mission_statement
          %dl 
            %dt Goals 
            %dd 
              = @organization.goal
          .row
            .col-lg-8#org-data-pts
              %div.pull-left.org-data EIN Number:
              %div= @organization.ein
              %div.pull-left.org-data Organization Budget:
              %div= @organization.budget
              %div.pull-left.org-data Organization Size:
              %div= @organization.users.count
              %div.pull-left.org-data Founding Year:
              %div= @organization.ruling_year
          .row
            .col-lg-8
              %dl#org-address-line
                %dt Physical Address
                %dd
                  = @organization.street1
                  = "#{@organization.street2}"
                  %br
                  = "#{@organization.city},"
                  = @organization.state_abbreviation
                  = @organization.zip
              %div.pull-left.org-data Contact Number:
              %div= @organization.contact_number
              %div.pull-left.org-data Contact Email:
              %div= @organization.contact_email

    .row.row-custom
      .col-lg-12
        %h2 Staff
        

    .container-wrapper 
      .row#staff-wrapper
        - @organization.users.each do |user|
          = render 'shared/user_thumbnail', user: user
